<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    <h1>Product Management</h1>

    <!-- <section class="row text-center placeholders">
        <button type="button" class="btn btn-primary">Add User</button>
    </section> -->
    <h2>Categories</h2>

    <section id="category_management">
        {{> admin/category-list categories=categories}}
    </section>

    <h2>Product Table</h2>
    <div class="action-buttons">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProductModal">Add Product</button>
        <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addProductModalTitle">Add a Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="save-product-form">
                            <div class="form-group">
                                <label for="inputTitle">Title</label>
                                <input type="text" name="name" class="form-control" id="inputTitle" placeholder="Product Title">
                            </div>

                            <div class="form-group">
                                <label for="inputPrice">Price</label>
                                <input type="number" name="price" class="form-control" id="inputPrice" placeholder="Price $">
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputS">Size: S</label>
                                    <input type="number" name="size_s" placeholder="Quantity" class="form-control" id="inputS">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputM">Size: M</label>
                                    <input type="number" name="size_m" placeholder="Quantity" class="form-control" id="inputM">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputL">Size: L</label>
                                    <input type="number" name="size_l" placeholder="Quantity" class="form-control" id="inputL">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputXL">Size: XL</label>
                                    <input type="number" name="size_xl" placeholder="Quantity" class="form-control" id="inputXL">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="productImage">Upload Product Image</label>
                                <div class="file-upload">
                                    <label class="custom-file">
                                        <input type="file" name="featuredImage" id="productImage" class="custom-file-input">
                                        <span class="custom-file-control"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Discription</label>
                                <input type="text" name="description" class="form-control" id="inputDescription" placeholder="Product Description">
                            </div>
                            <div class="form-group">
                                <label for="inputDetails">Details</label>
                                <textarea name="details" class="form-control" id="inputDetails" rows="5"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="save-product-btn">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section id="product_management">
        {{> admin/product-table products=products}}
    </section>

</main>