<main class="container mt-2">
    <div class="alert alert-success" role="alert">
        Thank you for your purchasing!
    </div>
    <a class="btn btn-primary text-white" href="/">Back To Home</a>
    
</main>