body {
    min-height: 75rem; /* Can be removed; just added for demo purposes */
}
  
.navbar {
    margin-bottom: 0;
}

.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.shop {
    min-height: 50rem;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
}

.product_card {
    /*float: left;
    width: 33.333%; */
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
}

.product_card img {
    margin-bottom: .75rem;
    display: block;
    width: 100%;
}

.product_card-text {
    font-size: 85%;
}

.price {
    color: #b80e0ed7;
}

main {
    height: 100%;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: #343a40;
    margin-top: 3rem;
}

footer p {
    margin-bottom: .25rem;
    color: #fff;
}

/* Animations and effects */
.product_card img:hover {
    /*box-shadow: 0 0 5px 5px #cae3f8;*/
    transform: scale(1.03)
}

a:hover {
    text-decoration: none
}

.back-to-top {
    background: #007bff;
    border-radius: 50px;
    color: white;
    padding: 14px;
    position: fixed;
    bottom: 40px;
    right: 50px;
}

/* User Profile */

/* mobile */
@media only screen and (max-width: 576px) {

}

@media only screen and (max-width: 720px) {
    #cart_1 {
        display: block;
    }

    #cart_2 {
        display: none;
    }
}